<% include layout %>

<title>Kni - 87</title>

<body>
    <style>
        h1 {
            text-align: center;
            font-family: fantasy;
        }
        #dv {
            text-align: center;
        }
        #footer {
            position: fixed;
            right: 5;
            bottom: 0;
            text-align: left;
            font-family: 'Times New Roman', Times, serif;
        }
        #prof {
            position: fixed;
            left: 5;
            bottom: 0;
            text-align: left;
            font-family: 'Times New Roman', Times, serif;
        }
        #predmet {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }
        body {
            background-image: url('nodejs_logo-1417834491072.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed; 
        }
    </style>
    <div>

        <h1>Student Administration</h1>

    </div>

    <br>
    <div id="dv">
        <a href="/users/register">
            <button class="btn btn-primary">Register</button>
        </a>
        <a href="/users/">
            <button class="btn btn-primary">Users</button>
        </a>
    </div>

    <div id="footer">

        <p>
            Студент: 
            <br>
            Христијан Петковски Кни87
        </p>
    </div>

    <div id="prof">
        <p>Професор: 
            <br>
            д-р Илија Јолевски</p>
    </div>

    <div id="predmet">
        <p>Менаџмент на софтверски проекти</p>
    </div>

</body>


</html>